.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 3rem;
}

.container h3 {
    margin: 0 0 1.5rem;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: #fd4f0c;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.items-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #cfd9e3;
}

.watch-card {
    display: flex;
    width: 100%;
    max-height: 200px;
    padding: 0.5rem;
    border: 1px solid #333;

}

.img-box {
    display: flex;
    width: 30%;
    height: auto;
    position: relative;
}

.img-box img {
    width: 100%;
    height: auto;
    /* max-height: 200px; */
    background-color: #fff;
    object-fit: contain;
}

.avl-qty {
    width: 100%;
    padding: 2px 0;
    font-size: 0.8rem;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 10;
}

.not-avl {
    width: 100%;
    padding: 2px 0;
    font-size: 0.8rem;
    background-color: red;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 10;
}

.card-body {
    display: flex;
    width: 70%;
}

.title-qty-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

.card-body h4 {
    display: -webkit-box;
    width: 100%;
    align-self: baseline;
    padding-left: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    overflow: hidden;
    word-wrap: break-word;
    text-align: left;
    color: #333;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.choose-qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 25px;
    margin-left: 1rem;
}

.choose-qty i{
    font-size: 0.8rem;
    padding: 3px;
    color: #333;
    cursor: pointer;
}

.choose-qty span{
    padding: 3px 8px;
    background-color: #fff;
}

.trash-price-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.remove-btn {
    display: flex;
    justify-content: end;
}

.remove-btn i {
    font-size: 1.1rem;
    color: #333;
    cursor: pointer;
}

.remove-btn i:hover {
    color: #fd4f0c;
    transition: .2s;
}

.price-box {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
}

.reg-price {
    color: #333;
}

.old-price {
    color: #333;
    text-decoration: line-through;
    margin-bottom: 3px;
}

.new-price {
    color: #e65f29;
}

.cart-summary-proceed-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 145px;
    padding: 0 0.5rem 0.5rem;
    background-color: #cfd9e3;
    border: 1px solid #333;
}

.cart-summary-box {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.cart-summary-proceed-box h4 {
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.items-price {
    padding: 0.5rem 0 0.25rem;
    color: #333;
}

.total {
    padding: 0.25rem 0 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
}

.proceed-to-checkout-box {
    display: flex;
    flex-direction: column;
}

.proceed-to-checkout {
    display: flex;
    flex-direction: column;
}

.next-step {
    padding: 0.75rem;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #fd4f0c;
    color: #333;
    cursor: pointer;

}

@media (min-width: 992px) {
    .row {
        flex-direction: row;
    }

    .items-box {
        margin-right: 2rem;
        width: calc(70% - 16px);
    }

    .card-body h4 {
        font-size: 1.5rem;
    }

    .remove-btn i {
        font-size: 1.25rem;
    }

    .price-box {
        font-size: 1.25rem;
    }

    .cart-summary-proceed-box {
        width: calc(30% - 16px);
    }
}