.watch-card {
    display: flex;
    width: 100%;
    max-height: 200px;
    padding: 0.5rem;
    border: 1px solid #333;

}

.img-box {
    display: flex;
    width: 30%;
    height: auto;
    position: relative;
}

.img-box img {
    width: 100%;
    height: auto;
    /* max-height: 200px; */
    background-color: #fff;
    object-fit: contain;
}

.avl-qty {
    width: 100%;
    padding: 2px 0;
    font-size: 0.8rem;
    background-color: #333;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 10;
}

.not-avl {
    width: 100%;
    padding: 2px 0;
    font-size: 0.8rem;
    background-color: red;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 10;
}

.card-body {
    display: flex;
    width: 70%;
}

.title-qty-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

.watch-title {
    display: -webkit-box;
    width: 100%;
    align-self: baseline;
    padding-left: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    overflow: hidden;
    word-wrap: break-word;
    text-align: left;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.choose-qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 25px;
    margin-left: 1rem;
}

.choose-qty i {
    font-size: 0.8rem;
    padding: 3px;
    color: #333;
    cursor: pointer;
}

.choose-qty span {
    padding: 3px 8px;
    background-color: #fff;
}

.trash-price-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.remove-btn {
    display: flex;
    justify-content: end;
}

.remove-btn i {
    font-size: 1.1rem;
    color: #333;
    cursor: pointer;
}

.remove-btn i:hover {
    color: #fd4f0c;
    transition: .2s;
}

.price-box {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
}

.reg-price {
    color: #333;
}

.old-price {
    color: #333;
    text-decoration: line-through;
    margin-bottom: 3px;
}

.new-price {
    color: #e65f29;
}

@media (min-width: 992px) {
    .watch-title {
        font-size: 1.5rem;
    }

    .remove-btn i {
        font-size: 1.25rem;
    }

    .price-box {
        font-size: 1.25rem;
    }
}