.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}

.loader {
    width: 88px;
    height: 88px;
    top:50%;
    left: 50%;
    transform: translate(-50%);
    display: inline-block;
    position: fixed;
    background-color: #fd4f0c;
    background: radial-gradient(ellipse at center, #333 0%, #333 14%, #fd4f0c 15%, #fd4f0c 100%);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    z-index: 10;
}

.loader::after,
.loader::before {
    content: '';
    position: absolute;
    height: 22px;
    width: 4px;
    background: #333;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: 25% 0;
    box-sizing: border-box;
    animation: rotation 10s linear infinite;
}

.loader::before {
    height: 28px;
    width: 2px;
    transform: translateX(-50%) rotate(0deg);
    animation-duration: 2s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}