.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
}

.container h3 {
    /* padding-left: 2px; */
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #343a40;
}

.container p {
    text-align: left;
    margin-bottom: 0.5rem;
    color: #495057;
    line-height: 1.2;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.brand-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 2px);
    margin: 1px;
    background-color: #cfd9e3;
}

@media (min-width: 768px) {
    .brand-box {
        width: calc(33.333% - 2px);
    }
}

@media (min-width: 992px) {
    .brand-box {
        width: calc(25% - 2px);
    }
}

@media (min-width: 1200px) {
    .brand-box {
        width: calc(16.6667% - 2px);
    }
}