.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fd4f0c;
}

.col {
    width: 70%;
    display: block;
}

.text-decoration-none {
    text-decoration: none;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-size: 1.75rem;
    color: #343a40;
    background-color: #fd4f0c;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.col-1 {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0 0.9rem;
    font-weight: 400;
    background-color: transparent;
    color: #343a40;
    font-size: 1.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fd4f0c;
}

.nav-link {
    padding: 0.25rem;
    font-size: 1.25rem;
    color: #343a40;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 992px) {
    .col {
        display: none;
    }

    .col-1 {
        display: none;
    }

    .nav {
        flex-direction: row;
        height: 3rem;
    }

    .nav-link {
        padding: 0 2rem;
        font-weight: 600;
    }
}

@media (min-width: 1200px) {
    .row {
        padding-right: 3rem;
    }

    .nav-link {
        padding: 0 3rem;
    }
}