.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    bottom: 0;
    background: url('https://www.watchgecko.com/cdn/shop/articles/Hublot_MP-13_Tourbillon_Bi-Axis_Retrograde_913.NX.1170.RX_-_Savoir-faire_-_10-original_-_Copy.png?v=1682342527');
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    background-color: #fd4f0c;
    opacity: 0.85;

}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.col h3 {
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #252525;
    z-index: 100;
}

.quick-links {
    padding: 5px 0 5px 15px;
    color: #252525;
    cursor: pointer;
}

.quick-links i {
    margin-right: 10px;
    color: #252525;
}

.row-1 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fd4f0c;
    color: #252525;
    font-size: 1.1rem;
}

@media (min-width: 992px) {
    .row {
        flex-direction: row;
    }

    .col {
        align-items: start;
        width: 33.3334%;
    }
}