html {
  font-family: "Poppins", sans-serif;
  background: url('https://images.unsplash.com/photo-1585314062604-1a357de8b000?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8fA%3D%3D');
}

.app {
  text-align: center;
}

.container {
  margin: auto;
  max-width: 1600px;
}