.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 3rem;
}

.container h3 {
    margin: 0 0 1.5rem;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: #fd4f0c;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.row-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0 0 1rem;
}

.no-watches-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 320px;
}

.no-watches-message {
    font-size: 1.2rem;
    text-shadow: 0.5px 0.5px 0.5px black;
    color: #fd4f0c;
}

@media (min-width: 600px) {
    .row-cards {
        flex-direction: row;
        gap: 1rem;
    }
}